@media (max-width: 1200px)
  .container
    max-width: 960px
  .hotel
    &-grid
      max-width: 960px
    &-slider
      width: 650px
      height: 450px
  .swiper
    &-slide
      &__image
        width: 100%
        height: 100%
        object-fit: cover
    &-container
      max-width: 650px
  .booking
    width: 280px
  .map
    width: 280px
  .card
    width: 230px
    height: 230px
  .footer
    &__input
      flex-basis: 100%
    &__info
      flex-basis: 22%
  .modal
    &__dialog
      overflow: auto
      position: fixed
      max-height: 100%
@media (max-width: 992px)
  .container, .newsletter-wrapper
    max-width: 700px
  .logo
    width: 132px
    height: 24px
    .logo__image
      width: 132px
  .navbar
    &-top
      padding-top: 30px
      padding-bottom: 28px
    &__search
      margin-left: 47px
      max-width: 340px
    &-menu
      padding-top: 19px
      padding-bottom: 21px
      &__link
        font-size: 12px
        line-height: 15px
        transition: none
        &::after, &::before
          display: none
        &:hover
          color: $light
    &-bottom
      &__container
        width: 673px
    &__user
      &::after, &::before
        display: none
      &:hover
        color: $text-color
    &__user
      &--light
        &::after, &::before
          display: none
        &:hover
          color: $light
  .search
    &__input
      width: 340px
    &__button
      &::after, &::before
        display: none
  .rating
    margin-top: 3px
  .hotel
    padding-top: 18px
    padding-bottom: 58px
    &-grid
      flex-direction: column
    &__slider
      margin-bottom: 30px
    &-right
      flex-direction: row
    &-slider
      width: 100%
  .swiper
    &-container
      max-width: 700px
  .booking
    width: 340px
    height: 210px
    padding: 29px 22px 29px 23px
    margin-left: 0
    &__button
      &::after, &::before
        display: none
  .map
    width: 340px
    margin-left: 0
  .newsletter
    padding: 71px 0 74px 0
  .subscribe
    &__button
      &::after, &::before
        display: none
  .reviews
    &-slider
      &__item
        max-width: 580px
        &::after, &::before
          display: none
      &__button
        top: 50%
        transform: translateY(-50%)
        &-prev
          left: 1px
        &-next
          right: 1px
      &__text
        height: 130px
    &__title
      font-weight: bold
      font-size: 30px
      line-height: 38px
      margin-bottom: 49px
  .activities
    padding: 33px 0 49px 0
    &-wrapper
      flex-wrap: wrap
  .card
    width: 339px
    height: 255px
    margin-bottom: 20px
    &__image
      height: 255px
    &__title
      &-golf
        margin-right: 130px
      &-quest
        margin-right: 80px
    &__button
      &::after, &::before
        display: none
  .footer
    padding-top: 72px
    &-wrapper
      grid-template-columns: 75px 75px 126px 116px 115px 80px
      grid-row-gap: 43px
    &__input
      &-name
        flex-basis: 48%
      &-number
        flex-basis: 47%
    &__logo
      margin: 0
      width: 98px
      grid-row: 1 / 2
      grid-column: span 2
      &-image
        width: 100%
        height: 100%
    &__link
      &::after, &::before
        display: none
      &:hover
        color: #BDBDBD
    &__map-marker
      &::after, &::before
        display: none
      &:hover
        color: #BDBDBD
    &__phone
      &::after, &::before
        display: none
      &:hover
        color: #BDBDBD
    &__email
      &::after, &::before
        display: none
      &:hover
        color: #BDBDBD
    &__social
      &-network
        grid-row: 1 / 2
        grid-column: span 4
        align-self: center
      &-links
        align-items: flex-end
        min-height: 33px
    &__categories
      grid-row: 2 / 3
      grid-column: span 2
    &__legal
      grid-column: span 2
    &__additional
      grid-column: span 2
    &__contact
      &-details
        grid-row: 3
        grid-column: span 5
      &-form
        grid-row: 4
        grid-column: span 5
        width: 537px
    &__form
      margin-bottom: 13px
    &__infopayment
      grid-column: 1 / 7
      justify-content: space-between
    &__infopay
      flex-basis: 42%
    &__image-pay
      max-width: 125px
    &__title
      font-size: 18px
      &--inline
        margin: 5px 40px 0 -1px
      &--mb-3
        margin: 17px 0 26px 0
      &--mb-6
        margin: 0 0 36px 0
    &__info
      flex-basis: 18%
    &__button
      min-width: 159px
      &::after, &::before
        display: none
    &__text-info
      &::after, &::before
        display: none
      &:hover
        color: #FFFFFF
    &__item
      &--mb-2
        margin-bottom: 16px
  .modal
    &__dialog
      width: 430px
      padding: 33px 70px 33px 70px
@media (max-width: 767px)
  .container
    max-width: 650px
    width: 88%
  body
    padding-top: 78px
  .logo
    width: 99px
    height: 13px
    .logo__image
      width: 99px
      height: 13px
      margin-bottom: 5px
  .navbar
    &__search, &__userprop
      &--mobile
        &--hidden
          display: none
        &--visible
          display: flex
    &__userprop
      flex-direction: column
      &--mobile
        &--visible
          margin-top: 30px
    &-bottom
      display: none
      position: fixed
      left: 0
      right: 0
      bottom: 0
      top: 71px
      &--visible
        display: block
        max-height: 100%
        overflow-y: auto
    &-menu
      flex-direction: column
      &__item
        margin-bottom: 20px
        &--mobile
          &--visible
            display: block
    &__mobile
      position: fixed
      top: 0
      right: 0
      left: 0
      z-index: 99
    &__username
      &--light
        margin-left: 0
        margin-top: 10px
    &__user
      color: $light
    &__search
      margin-left: 1px
  .search
    &__input
      width: 244px
  .menu
    &-button
      display: flex
      width: 16px
      height: 11px
      padding: 0
      align-items: center
      justify-content: space-between
      flex-direction: column
      border: none
      background-color: #fff
      cursor: pointer
      &__line
        width: 16px
        height: 1px
        background-color: $text-color
  .breadcrumb-list
    padding: 19px 0 18px 0
  .stars
    flex-basis: auto
    margin-right: 14px
  .hotel
    padding-top: 2px
    padding-bottom: 38px
    &-name
      flex-basis: 100%
    &-wrapper
      justify-content: space-between
    &-info
      &__text
        width: 100%
      &__name
        margin-top: 10px
        margin-bottom: 0
      &__rating
        display: none
      &__offer
        order: -1
        margin-left: 0
    &-slider
      width: 100%
  .swiper
    &-container
      max-width: 650px
      height: 100%
  .hotel
    &-right
      flex-direction: column
      min-height: 450px
  .booking
    width: 100%
  .map
    width: 100%
  .newsletter
    &-wrapper
      flex-direction: column
      max-width: 650px
      width: 88%
      align-items: start
  .reviews
    &-slider
      &__item
        padding: 0 30px 30px
        &::after, &::before
          display: none
      &__button
        top: 32px
        &-prev
          left: 50%
          transform: translate(-50%, 0)
          margin-left: -65px
        &-next
          transform: translate(50%, 0)
          margin-right: -65px
          right: 50%
      &__text
        height: 133px
        overflow-y: scroll
        font-weight: normal
        font-size: 12px
        line-height: 160%
        text-align: justify
  .activities
    padding-top: 35px
    padding-bottom: 60px
  .card
    width: 49%
    height: 255px
    &__title
      &-golf
        margin-right: 20px
      &-quest
        margin-right: 10px
  .footer
    &-wrapper
      grid-template-columns: minmax(70px, 100px) minmax(30px, 60px) minmax(90px, 120px) minmax(90px, 120px) minmax(70px, 100px) minmax(70px, 100px)
    &__input
      flex-basis: 100%
    &__logo
      margin: 0
      width: 98px
      &-image
        width: 100%
        height: 100%
    &__title
      font-style: normal
      font-weight: bold
      font-size: 14px
    &__contact
      &-form
        max-width: 516px
    &__infopay
      flex-basis: 55%
    &__info
      flex-basis: 20%
  .modal
    &__dialog
      overflow: auto
      position: fixed
      max-height: 100%
@media (max-width: 567px)
  .container
    max-width: 500px
  .logo
    width: 99px
    height: 13px
    .logo__image
      width: 99px
      height: 88%
  .navbar
    &__search, &__userprop
      &--mobile
        &--hidden
          display: none
        &--visible
          display: flex
    &__userprop
      flex-direction: column
      &--mobile
        &--visible
          margin-top: 30px
    &-bottom
      display: none
      position: fixed
      left: 0
      right: 0
      bottom: 0
      top: 71px
      &--visible
        display: block
    &-menu
      flex-direction: column
      &__item
        margin-bottom: 20px
        &--mobile
          &--visible
            display: block
    &__mobile
      position: fixed
      top: 0
      right: 0
      left: 0
      z-index: 99
    &__username
      &--light
        margin-left: 0
        margin-top: 10px
    &__user
      color: $light
    &-top
      padding: 28px 0 30px 0
  .hotel
    padding-top: 2px
    padding-bottom: 37px
    &-name
      flex-basis: 100%
    &-wrapper
      margin-bottom: 1px
    &-info
      padding-bottom: 35px
      &__offer
        order: -1s
        margin-left: 1px
    &-slider
      width: 100%
      height: 250px
  .stars
    flex-basis: auto
    margin-right: 16px
  .swiper
    &-container
      max-width: 450px
      height: 250px
  .hotel
    &-right
      align-items: center
  .booking
    width: 100%
    padding: 29px 22px 29px 23px
  .map
    width: 100%
  .newsletter
    padding-top: 76px
    padding-bottom: 83px
    &__title
      margin-bottom: 37px
  .subscribe
    width: 100%
  .reviews
    &-slider
      max-width: 281px
      min-height: 485px
      &__text
        height: 300px
        overflow-y: scroll
        font-weight: normal
        font-size: 12px
        line-height: 160%
        text-align: justify
  .card
    width: 100%
  .footer
    &-wrapper
      grid-template-columns: 1fr
    &__logo
      grid-row: 1
      grid-column: 1
      margin: 0
      width: 98px
      &-image
        width: 100%
        height: 100%
    &__social
      &-network
        justify-self: start
        flex-direction: column
        grid-row: 2
        grid-column: 1
      &-links
        align-self: start
    &__additional
      justify-self: start
      grid-row: 3
      grid-column: 1
    &__categories
      grid-row: 4
      grid-column: 1
    &__legal
      justify-self: start
      grid-row: 5
      grid-column: 1
    &__contact
      &-details
        grid-row: 6
        grid-column: 1
      &-form
        grid-row: 7
        grid-column: 1
        width: 280px
    &__infopayment
      flex-direction: column
      grid-row: 8
      grid-column: 1
      align-items: flex-start
    &__title
      font-size: 18px
      &--inline
        margin: 0 0 18px 0
    &__info
      flex-basis: 37%
  .modal
    &__dialog
      overflow: auto
      position: fixed
      max-height: 100%
      max-width: 320px
      padding: 25px 50px 30px 50px
    &__form-submit
      flex-direction: column
      align-items: start
    &__button
      order: 2
    &__info
      margin-bottom: 10px
      order: 1
    &__input
      width: 100%
      margin-bottom: 10px
@media (max-width: 320px)
  .container
    max-width: 280px
  .logo
    width: 99px
    height: 13px
    .logo__image
      width: 99px
      height: 88%
  .navbar
    &__search
      &--mobile
        &--hidden
          display: none
        &--visible
          display: flex
          margin-left: 0px
          margin-top: 9px
          margin-bottom: 36px
    &__userprop
      &--mobile
        &--hidden
          display: none
        &--visible
          display: flex
          margin-left: 0px
          margin-top: 11px
          margin-bottom: 19px
    &__username
      &--light
        margin-left: 0
        margin-top: 6px
    &-menu
      flex-direction: column
      &__item
        margin-bottom: 0
        &--mini
          margin-bottom: 17px
        &--mobile
          &--visible
            display: block
  .search
    &__input
      width: 244px
    &__userprop
      flex-direction: column
      &--mobile
        &--visible
          margin-top: 10px
    &-bottom
      display: none
      position: fixed
      left: 0
      right: 0
      bottom: 0
      top: 71px
      &--visible
        display: block
    &__mobile
      position: fixed
      top: 0
      right: 0
      left: 0
      z-index: 99
    &__user
      color: $light
      margin-top: 8px
    &-top
      padding: 28px 0 29px 0
  .breadcrumb
    &-list
      padding: 12px 0 18px 0
  .hotel
    padding-top: 2px
    padding-bottom: 40px
    &-name
      flex-basis: 100%
    &-wrapper
      margin-bottom: 1px
    &-info
      padding-bottom: 35px
      &__offer
        order: -1s
        margin-left: 1px
    &-slider
      max-width: 280px
      height: 180px
  .stars
    flex-basis: auto
    margin-right: 16px
  .swiper
    &-container
      max-width: 280px
      height: 180px
  .booking
    width: 100%
    padding: 29px 22px 29px 23px
  .map
    width: 100%
    max-height: 172px
  .hotel
    &__slider
      margin-bottom: 20px
    &-right
      min-height: 403px
  .newsletter
    padding-top: 60px
    padding-bottom: 83px
    &__title
      font-weight: 300
      font-size: 20px
      line-height: 25px
    &-title
      &__strong
        font-weight: 600
        font-size: 30px
        line-height: 38px
        margin-top: 5px
  .subscribe
    &__input
      padding-left: 21px
      padding-right: 75px
      font-weight: 300
      font-size: 14px
      line-height: 18px
  .reviews
    padding: 39px 0 71px 0
    &-slider
      max-width: 281px
      max-height: 500px
      &__text
        height: 269px
        overflow-y: scroll
        font-weight: normal
        font-size: 12px
        line-height: 160%
        text-align: left
      &__button
        top: 9.1%
        transform: translateY(-50%)
        &-prev
          left: 96px
        &-next
          right: 100px
    &__title
      max-width: 250px
      max-height: 46px
      font-weight: bold
      font-size: 18px
      line-height: 23px
      text-align: center
      padding: 0 11px 0 38px
      margin-bottom: 43px
  .activities
    padding-top: 1px
    padding-bottom: 40px
    &__title
      margin-bottom: 36px
      font-weight: bold
      font-size: 18px
      line-height: 23px
    &__card
      &-corner
      &-golf
        order: 1
      &-trip
        margin-bottom: 28px
      &-quest
        order: 1
  .card
    width: 280px
    height: 255px
    &__title
      &-golf
        margin-right: 30px
      &-quest
        margin-right: 10px
  .footer
    padding-top: 69px
    &-wrapper
      grid-row-gap: 29px
    &__logo
      width: 94px
      margin-bottom: 10px
      &-image
        width: 100%
        height: 100%
    &__title
      &--inline
        margin: 0 0 13px 0
      &--mb-3
        margin: 11px 0 24px
      &--mb-6
        margin: 0 0 16px 0
    &__additional
      justify-self: start
      grid-row: 4
      grid-column: 1
    &__categories
      grid-row: 5
      grid-column: 1
    &__legal
      justify-self: start
      grid-row: 3
      grid-column: 1
    &__contact
      &-details
        grid-row: 6
        grid-column: 1
      &-form
        grid-row: 7
        grid-column: 1
        width: 280px
    &__infopayment
      flex-direction: column
      align-items: start
      grid-row: 8
      grid-column: 1
    &__icon
      &-wrapper
        min-width: 32px
    &__item
      &--mb-2
        margin-bottom: 23px
    &__ul
      &--mini
        margin-bottom: 30px
    &__form-submit
      margin-bottom: 1px
      display: flex
      flex-direction: column-reverse
      align-items: flex-start
    &__textarea
      margin-bottom: 14px
    &__info
      margin-bottom: 15px
    &__button
      padding: 18px 18px 18px 18px
      min-width: 160px
    &__form
      margin-bottom: 2px
    &__text
      &--slogan
        margin-bottom: 21px
    &__infopay
      margin-bottom: 8px
  .modal
    &__dialog
      .modal
    &__dialog
      overflow: auto
      position: fixed
      max-height: 100%
      max-width: 270px
      padding: 25px 30px 30px 30px
